{% extends 'base.html' %}
{% block content %}
    <form action="{% url "root_import" %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="fieldWrapper">
                {{ field.errors }}
                {{ field.label_tag }} {{ field }}
                {% if field.help_text %}
                    <p class="help">{{ field.help_text|safe }}</p>
                {% endif %}
            </div>
        {% endfor %}

        <p><input type="submit" value="Upload"/></p>
    </form>
{% endblock %}